<h1>All Places</h1>

<% @places.each do |place| %>
  <div>
    <h2><%= link_to place.name, place_path(place) %></h2>
    <p><%= place.location %></p>
  </div>
<% end %>

<%= link_to "Add a New Place", new_place_path %>